# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files (Rider)
.idea/
*.sln.iml

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]ogs/

# NuGet Packages
*.nupkg
# The packages folder can be ignored if you're using PackageReference
packages/

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper

# TeamCity
_TeamCity*

# DotCover is a Code Coverage Tool
*.dotCover

# Visual Studio Code
.vscode/